<% provide(:title, '5kInfo') %>
<h1>InFormation</h1>
<p>
 The race starts from the Atlantic Boat and Marine (2204 Folly Road) on June 22, 2019 and finishes at the Folly Beach County Park. Rgistration begins at 6:30 am and the race will begin at 8:00 am
 Admissions are $25 per person And will be paid at event registration. 
</p>
<img alt="Fungus Among Us" src="/assets/route.png" />
