<% provide(:title, @user.name + " (" + @user.email + ")") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h5>
        <%= @user.email %>
      </h5>
    </section>
  </aside>
</div>

<% if current_user?(@user) %>
  <h1>Fungus Among Us Run</h1>
    <div class="container-fluid">
      <div class="row">
          <div class="col-xs-8">
              <%= yield %>
              
              <p class="textarea">
              

              <% if current_user.admin? %>
                Welcome <%= @user.name %> (Administrator)
              <% else %>
                Welcome <%= @user.name %>!!!
              <% end %>

              <h1>Schedule For June 22, 2019</h1>

              6:30 am – Registration for race begins<br>
              8:00 am – Race Starts<br>
              12:00 pm – The end of the Race "tentative"<br>
              12:30 pm – Award Ceremony and complementary lunch<br>
             
  <br><br>
              
              </p>
          </div>
          <div class="col-xs-4">
              
                                    
              
          </div>
      </div>	
  </div>

  
    <% if current_user.team? %>
X    <h1>Your Team: <%= current_user.team %></h1>
    <div class="container">     
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email Address</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if user.team == current_user.team %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
